* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 13px;
}

#topdiv {
	position: relative;
	width: 100%;
	min-width: 640px;
	top:0;
	background-color: #fafafa;
    border-bottom: 1px solid #ebebeb;
}

#formdiv {
	position: relative;
	height: 45px;
	margin: auto;
	padding-top: 17.5px;
}

#logo {
	width: 120px;
	margin: auto;
	padding-top: 8px;
}

#logodiv {
	position: absolute;
	display: inline-block;
	margin: auto;
	height: 100%;
	padding-left: 12px;
}

#searchboxdiv {
	position: absolute;
	display: inline-block;
	padding-left: 150px;
	height: 100%;
}

#searchbox {
	width: 558px;
	padding: 12.5px;
	font-size: 16px;
	box-shadow: 0 1px 5px #cecece;
	border: 1px solid #cecece;
	transition: box-shadow 0.5s;
}

#searchbox:focus {
	outline-offset: 0px;
	outline: none;
	box-shadow: 0 3px 8px #cecece;
}

#searchbox:hover {
	box-shadow: 0 3px 8px #cecece;
}

#tabs {
	display: relative;
	align-items: baseline;
}

.tabitem {
	display: inline-block;
}

.tabitem a {
	text-decoration: none;
	color: #777;
	margin: 0 8px;
	padding: 0 8px;
	display: inline-block;
}

#tabselected {
	/*height: 13px;*/
	line-height: 1;
	padding: 29px 16px 13px;
	font-weight: bold;
	color: #4285f4;
	border-bottom: 3px solid #4285f4;
	margin-left: 150px;
}

#about {
    color:dimgrey;
    margin: 20px 0 20px 0;
    padding-left: 170px;
}

.searchresulthead {
    text-decoration: none;
    font-size: 18px;
}

.searchresultlink {
    color: green;
    line-height: 24px;
}

.searchresulttext {
    color: dimgrey;
    line-height: 18px;
}

.searchresult {
    padding-left: 170px;
    width: 558px;
    padding-bottom: 24px;
}

#bottomdiv {
    padding-left: 170px;
    width: 558px;
}

#bottomdiv a {
    text-decoration: none;
    color: #4285f4
}

#footnav {
    margin: auto;
    padding-bottom: 40px;
}

.navstartspan {
    background-image: url(https://www.google.hr/images/nav_logo242.png);
    background-repeat: no-repeat;
    background-position: -24px 0;
    width: 28px;
    height: 40px;
    display: block;
}

.navfirst {
    background-image: url(https://www.google.hr/images/nav_logo242.png);
    background-repeat: no-repeat;
    background-position: -53px 0;
    width: 20px;
    height: 40px;
    display: block;
}

.navmid {
    background-image: url(https://www.google.hr/images/nav_logo242.png);
    background-repeat: no-repeat;
    background-position: -73px 0;
    width: 20px;
    height: 40px;
    display: block;
}

.ohs {
    text-align: center;
    padding: 0;
    vertical-align: top;
}

.navendspan {
    background-image: url(https://www.google.hr/images/nav_logo242.png);
    background-repeat: no-repeat;
    background-position: -96px 0;
    width: 72px;
    height: 40px;
    display: block;
}

#navend span:nth-child(2) {
    margin-left: 50px;
}

#footerdiv {
    position: relative;
	width: 100%;
	min-width: 640px;
    height: 80px;
	bottom:0;
	background-color: #fafafa;
    border-top: 1px solid #ebebeb;
}